.wrapper {
    margin-bottom: 30px;
}

.heading {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary);
    text-transform: uppercase;
}

.inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.product-item {
    width: 20%;
    flex: 1 1 20%;
    padding: 0 10px;
    margin-bottom: 15px;
}

.thumbnail {
    overflow: hidden;

    img {
        width: 100%;
        display: flex;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }
}

.info {
    margin-top: 10px;
}

.name {
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: capitalize;
}

.price {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--black);
}
