@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import 'normalize.css';

:root {
    // Color
    --primary: #5e2572;
    --white: #fff;
    --text-color: #f1f2f7;

    // Font
    --font-family: 'Poppins', sans-serif;

    // Layout default
    --default-layout-header-height: 120px;
    --default-layout-header-width: 1250px;
    --default-layout-horizontal-spacer: 25px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}
