
.statistical .title {
  margin: 0;
  padding-left: 10px;
  font-weight: 600;
}

.statistical .charts {
  min-height: 200px;
  max-height: 1000px;
  text-align: center;
}

.statistical .chart {
  max-height: 300px;
}

.data_input .title {
  margin: 0;
  font-weight: 600;
  text-align: right;
}

.data_input .action_buttons {
  text-align: center;
}

.total {
  border-bottom: 1px solid #ddd;
  padding: 10px 0px 10px 0px;
}

.total_revenue {
  margin: 0;
  padding-left: 10px;
  font-weight: 600;
}

.total_expenditure {
  margin: 0;
  padding-left: 10px;
  font-weight: 600;
}

.statistical_navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5E2572;
}

.statistical_navbar .navbar_item {
  float: left;
}

.navbar_item .navbar_item_link {
  display: block;
  color: #ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_item .navbar_item_link:active {
  font-weight: bold;
  background-color: #56126e;
}

.navbar_item .navbar_item_link:hover:not(.active) {
  font-weight: bold;
  background-color: #5E2572;
}

.date {
  font-weight: 600;
}