.statistical {
  width: 100%;
  height: 100%;
}

.statistical .title {
  margin: 0;
  padding-left: 10px;
  font-weight: 600;
}

.statistical .charts {
  min-height: 200px;
  max-height: 1000px;
  text-align: center;
}

.statistical .chart {
  width: 70%;
  height: 300px;
}

.data_input .title {
  margin: 0;
  font-weight: 600;
  text-align: right;
}

.data_input .action_buttons {
  text-align: center;
}

.total_revenue {
  margin: 0;
  padding-left: 10px;
  font-weight: 600;
}

.total_expenditure {
  margin: 0;
  padding-left: 10px;
  font-weight: 600;
}

.statistical_navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffff;
}

.statistical_navbar .navbar_item {
  float: left;
}

.navbar_item .navbar_item_link {
  display: block;
  color: #ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_item .navbar_item_link:hover:not(.active) {
  background-color: #5E2572;
}