.wrapper {
    margin: 40px 0;
}

.title {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary);
    text-transform: uppercase;
}

.more {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.more-btn {
    width: 250px;
    padding: 12px 0;
    text-transform: uppercase;
}
