.wrapper {
    --search-border-radius: 8px;
    --search-height: 40px;
    --search-top-spacer: 9px;
    --search-button-width: 60px;

    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-header-width);
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin-right: 30px;
    display: flex;
}

.top,
.bottom {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.top-left,
.bottom-left {
    width: 50%;
    display: flex;
    align-items: center;
}

.top-right,
.bottom-right {
    width: 50%;
    display: flex;
    justify-content: end;
}

.title {
    margin-left: 5px;
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 1.6rem;
    font-family: var(--font-family);
    background-color: transparent;
    cursor: pointer;

    &:hover {
        color: var(--primary);
    }
}

.user {
    display: flex;
}

.user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
