.wrapper {
    --search-border-radius: 4px;
    --search-height: 40px;
    --search-top-spacer: 9px;
    --search-button-width: 40px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height, 100px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-header-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 100px;
    user-select: none;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-avatar {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    cursor: pointer;
}

.login-btn {
    width: 40px;
    height: 40px;
}
    
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
