.login-right-side {
    background-color: #ddd;
}

.icon-closed {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    z-index: 11;
    cursor: pointer;
}

.login-label {
    color: #111;
    padding-bottom: 4px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.login-input {
    color: #000 !important;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: red;
    padding: 4px;

}

.error {
    height: 24px !important;
}

.icon-eye {
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.5;
}

