.wrapper {
    margin: 40px 0;
}

.sub-heading {
    color: var(--primary);
}

.heading {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary);
}

.title {
    width: 100%;
    text-align: center;
}
