:root {
    --normal-font-size: 24px !important;
}

.table-font-payment {
    font-size: calc(var(--normal-font-size) - 5px);
}

.button-size-payment {
    width: 50%;
    font-size: var(--normal-font-size) !important;
}

@media only screen and (max-width: 800px) {
    :root {
        --normal-font-size: 12px !important;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --normal-font-size: 10px !important;
    }
}

@media only screen and (max-width: 1200px) {
    :root {
        --normal-font-size: 15px !important;
    }
}

.normal-txt-payment {
    font-size: var(--normal-font-size) !important;
}

.btn.purple-btn {
    background-color: #5e2572;
    color: white;
}

.btn.purple-btn:hover {
    background-color: #000000;
    color: white;
}

.btn.loon-crest-btn {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
        radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
    background-blend-mode: multiply, multiply;
    color: white;
}

.btn.loon-crest-btn:hover {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    color: black;
}

.error-message {
    box-sizing: border-box;
    line-height: var(--normal-font-size);
    font-size: var(--normal-font-size);
}
