.wrapper {
    margin-bottom: 30px;
}

.banner-slide {
    cursor: pointer;
    &:hover {
        .prev,
        .next {
            display: flex;
        }
    }
}

.thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #4b0e09;
    color: var(--white);
    z-index: 10;
    border-radius: 999px;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}
